/* Тело */
/* 001 */
body {
    margin: 0;
    /* Наружные отступы */
    padding: 0;
    /* Внутренние отступы */
    font-family: consolas;
    /* Стиль шрифта */
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    /* Фон */
    background-size: cover;
    /* Масштабируем изображение по блоку */
    background-attachment: fixed;
    /* Фиксируем фоновое изображение */
}

/* Стили всех ссылок */
/* 001 */
a {
    color: rgb(138 0 255 / 50%);
    /* Цвет текста ссылок */
}

/* Стили всех ссылок при наведении */
/* 011 */
a:hover {
    color: rgb(138 0 255 / 100%);
    /* Цвет текста ссылок */
}

/* Стили для блока с содержимым шапки */
/* 011 */
header.header {
    background-color: rgba(255, 255, 255, 0.5);
    /* Фоновый цвет */
    box-shadow: 0px 5px 10px 1px rgb(0 0 0 / 5%);
    /* Тень */
}

/* Контейнер */
/* 010 */
.container {
    width: 80%;
    /* Ширина */
    margin: 0 auto;
    /* Делаем по центру */
}

/* Стили для контейнера с содержимым шапки */
/* 010 */
.container__navigation {
    display: flex;
    /* Отображает элементы как flex */
    justify-content: space-between;
    /* Выравнивание по горизонтали */
    flex-wrap: wrap;
    /* Делаем, чтобы элементы переносились на новую строку при уменьшении размеров экрана */
    align-items: center;
    /* Выравниваем по центру по вертикали */
}

/* Стили для логотипа */
/* 010 */
.logo-wrap {
    width: 20%;
    /* Ширина */
    padding: 10px;
    /* Внутренние отступы */
}

/* Название сайта в шапке */
/* 020 */
.logo-wrap .name__site {
    font-size: 1.5rem;
    /* Размер шрифта */
    font-weight: 600;
    /* Жирность */
}

/* Стили для блока навигации */
/* 010 */
.nav {
    font-size: 0;
    /* Размер шрифта. Убираем отступы после inline-block */
}

/* Стили для пунктов меню */
/* 010 */
.nav__item {
    position: relative;
    /* Расположение относительно его исходного места */
    display: inline-block;
    /* Делаем строчно-блочными элементы */
    font-size: 1rem;
    /* Размер шрифта */
}

/* Стили для пунктов меню при наведении */
/* 020 */
.nav__item:hover {
    background-color: rgba(255, 255, 255, 1);
    /* Фоновый цвет */
}

/* Делаем выпадающий список при наведении */
/* 030 */
.nav__item:hover .dropdown {
    display: block;
    /* Делаем элементы блочными и тем самым показываем элемент */
}

/* Ссылки в пунктах меню */
/* 010 */
.nav__link {
    display: block;
    /* Делаем элементы блочными */
    padding: 20px 10px;
    /* Внутренние отступы */
}

/* Ссылки в выпадающем списке меню */
/* 010 */
.dropdown__link {
    display: block;
    /* Делаем элементы блочными */
    padding: 10px;
    /* Внутренние отступы */
}

/* Выпадающий список меню */
/* 010 */
.dropdown {
    position: absolute;
    /* Абсолютное позиционирование */
    z-index: 1;
    /* Приоритетность показа на экране */
    display: none;
    /* Скрываем */
    padding: 5px;
    /* Внутренние отступы */
    border-radius: 0px 16px 16px 16px;
    /* Закругление углов */
    background-color: rgba(255, 255, 255, 1);
    /* Фоновый цвет */

}

/* Пункты меню в выпадающем списке */
/* 010 */
.dropdown__item {
    display: block;
    /* Делаем элементы блочными */
    border-radius: 16px;
    /* Закругление углов */
}

/* Пункты меню в выпадающем списке при наведении */
/* 020 */
.dropdown__item:hover {
    background-color: rgb(255, 245, 250);
    /* Фоновый цвет */
}

/* Стили для контейнера с картачками */
.container__card {
    display: flex;
    /* Отображает элементы как flex */
    flex-wrap: wrap;
    /* Делаем, чтобы элементы переносились на новую строку при уменьшении размеров экрана */
    margin-top: 20px;
    /* Внешние отступы */
}

/* Стили для карточек */
/* 020 */
.container__card .card {
    width: 30%;
    /* Ширина */
    min-width: 250px;
    /* Минимальная ширина */
    margin: 0 auto;
    /* Делаем по центру */
    cursor: pointer;
    /* Меняем курсор при наведении */
}

/* Стили для верхней и нижней части карточки */
/* 030 */
.container__card .card .face {
    padding: 20px;
    /* Внутренние отступы */
    transition: 0.6s;
    /* Растягиваем во времени эффект */
}

/* Стили для верхней части карточки */
/* 040 */
.container__card .card .face.face1 {
    z-index: 1;
    /* Выставляем уровень приоритетности показа на экране */
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    /* Фон */
    border: 2px solid #fff;
    /* Обводка */
    box-shadow: 5px 5px 10px 1px rgb(0 0 0 / 20%);
    /* Тень */
}

/* Стили для верхней части карточки при наведении */
/* 050 */
.container__card .card:hover .face.face1 {
    background: #ff0057;
    /* Фон */
}

/* Стили для контента верхней части карточки */
/* 050 */
.container__card .card .face.face1 .content {
    opacity: 0.6;
    /* Прозрачность */
    transition: 0.6s;
    /* Растягиваем во времени эффект */
}

/* Стили для контента верхней части карточки при наведении */
.container__card .card:hover .face.face1 .content {
    opacity: 1;
    /* Прозрачность */
}

/* Стили для изображений в верхней части карточек */
/* 051 */
.container__card .card .face.face1 .content img {
    width: 100px;
    /* Максимальная ширина */
    margin: 0 auto;
    /* Делаем по центру */
    display: block;
    /* Делаем элемент блочным */
}

/* Заголовок в вехрней части карточки */
/* 051 */
.container__card .card .face.face1 .content h3 {
    margin-bottom: 30px;
    /* Нижний внешний отступ */
    text-align: center;
    /* Делаем текст по центру */
    font-size: 1.5rem;
    /* Размер шрифта */
    color: #fff;
    /* Цвет текста */
}

/* Стили для нижней части карточки */
/* 040 */
.container__card .card .face.face2 {
    z-index: 2;
    /* Выставляем уровень приоритетности показа на экране */
    background: #fff;
    /* Фон */
    box-shadow: 5px 5px 10px 1px rgb(0 0 0 / 20%);
    /* Тень */
    opacity: 0;
    /* Прозрачность */
    margin-top: -130px;
    /* Верхний внешний отступ */
}

/* Стили для нижней части карточки при наведении */
/* 050 */
.container__card .card:hover .face.face2 {
    transform: translateY(-15px);
    /* Возвращаем элемент обратно относительно его обычного положения по оси Y */
    opacity: 1;
    /* Прозрачность */
}

/* Стили для ссылок в нижней части карточки */
/* 051 */
.container__card .card .face.face2 .content a {
    display: inline-block;
    /* Делаем обтекаемый блочный элемент */
    margin-top: 15px;
    /* Внешний отступ сверху */
    padding: 5px;
    /* Внутренние отступы */
    text-decoration: none;
    /* Убираем стандартные стили */
    font-weight: 900;
    /* Жирность */
    color: #333;
    /* Цвет ссылки */
    border: 1px solid rgb(0, 180, 180);
    /* Обводка */
}

/* Стили для ссылок в нижней части карточки при наведении */
/* 061 */
.container__card .card .face.face2 .content a:hover {
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    /* Фон */
    color: #fff;
    /* Цвет текста */
}

/* Закругления углов */
/* 040 */
/* 040 */
/* 051 */
/* 020 */
.container__card .card .face.face1,
.container__card .card .face.face2,
.container__card .card .face.face2 .content a,
.container.block__content {
    border-radius: 16px;
    /* Закругления */
}

/* Стили для контейнера с содержимым описания страницы */
/* 020 */
.container.block__content {
    padding: 10px 1%;
    /* Внутренние отступы */
    text-align: center;
    /* Текст по центру */
    background-color: rgba(255, 255, 255, 0.5);
    /* Фоновый цвет */
    border-radius: 16px;
    /* Закругления */
    box-shadow: 5px 5px 10px 1px rgb(0 0 0 / 20%);
    /* Тень */
}

/* Блок подвала */
/* 010 */
.block__footer {
    margin-top: 100px;
    /* Внешний отступ сверху */
    background-color: rgba(255, 255, 255, 0.5);
    /* Фоновый цвет */
    box-shadow: 0px -5px 10px 1px rgb(0 0 0 / 5%);
    /* Тень */
}

/* Стили для контейнера с содержимым подвала */
/* 020 */
.container.container__footer {
    padding: 50px 1%;
    /* Внутренний отступ */
    text-align: center;
    /* Текст по центру */
}